*{
    box-sizing: border-box;
}

body{
    background: #181818;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container-father{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.container-child{
    margin: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.container-child > *{
    padding: 1em;
}

.container-littleChild{
    background: #222222;
}

.container-littleChild form p{
    margin: 0;
    padding: 1em;
}

.container-littleChild form button:hover,
.container-littleChild form button:focus{
    background: #d63031;
    color: #fff;
}

.container-littleChild form button,
.container-littleChild form input{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.container-littleChild form button{
    background: #b70e21;
    color: #000;
    border: 0;
    margin: 0;
    text-transform: uppercase;
    padding: 1em;
}

@media (min-width: 700px){
    body{
        padding: 0 4rem;
    }
}

.container-littleChild h1{
    padding: 10px;
    border-bottom: 2px #b70e21 dashed;
}
 
.container-father img{
    border-radius: 50%;
}

.container-littleChild h3{
    color: #fff;
}